{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <title>MemeX</title>
        {# TODO meta information#}
        <meta name="description" content="" />

    </head>

    <body>
        {% block main-content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block scripts %}{% endblock %}
        {% block inlinescripts %}{% endblock %}
    </body>
</html>
